html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer {
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    color: #003366;
    text-decoration: none;
}

nav a.important-link {
    font-weight: bold;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #eeeeee;
}

section > *:first-child {
    margin-top: 0;
}

section > *:last-child {
    margin-bottom: 0;
}

h1 {
    color: white;
}

h2, h3 {
    color: #003366;
}

code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: monospace;
}

figure {
    margin: 10px 0;
    text-align: center;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

q {
    font-style: italic;
}

/* Homepage specific style */
#homepage section {
    margin: 20px;
    transition: all .2s ease;
}

#homepage section:hover {
    border-color: #003366;
    cursor: pointer;
}

#homepage > a {
    text-decoration: none !important;
}

#homepage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#homepage > * {
    width: min(500px, 100%);
}

